<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ill Lillies</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="plangular.css"/>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="//use.typekit.net/qot6bng.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="plangular.js"></script>

</head>
<body ng-app="plangular">

  <header class="bg-cover header-bg pad4 pad5-res ">
    <h1 class="h1 caps center thin mb2">Ill Lillies</h1>
    <h2 class="ls2 thin h5 center">Arthouse rock. Best heard at loud volumes while doing something you enjoy.</h2>
  </header>

<main class="bd mb4">

  <section class="mb4 float-up anim-delay-4">

    <div class="bd">

      <article plangular data-src="'https://soundcloud.com/illlillies/sets/greatest-hits-volume-two'" class="grid-1 bd">
        <div class="pad4 bd bg-center bg-cover white shadow-darken" style="background-image: url(images/beach.jpg)">
          <h1 class="h4 caps reg dark-gray">{{ playlist.title }}</h1>
          <div class="media">
            <div class="img mr1">
              <a href="" ng-click="player.previous(playlist)" class="fl white"><i class="icon-previous p tappad"></i></a>
              <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="fl white"><i class="icon-play h3 tappad"></i></a>
              <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="fl white"><i class="icon-pause h3 tappad"></i></a>
              <a href="" ng-click="player.next(playlist)" class="fl white"><i class="icon-skip p tappad"></i></a>
            </div>
            <div class="bd">
              <progress value="{{ currentTime / duration}}" ng-click="seekTo($event)" class="mt1 progress progress-white w100">{{ currentTime / duration}}</progress>
              <small class="fl">{{ currentTime | playTime }}</small>
              <small class="fr">{{ duration | playTime }}</small>
            </div>
          </div>
        </div>
        <div class="bg2 pad1 bd">
          <ol class="dark-gray">
            <li ng-repeat="track in playlist.tracks" class="ml2 song-title"><a href="" ng-click="player.play(playlist.tracks, $index)" class="db" ng-class="{ 'dark-gray': (player.playing || player.paused) != track, 'dark-gray': (player.playing || player.paused) == track }">
               {{ track.title }}
            </a></li>
          </ol>
          <a ng-href="{{ playlist.permalink_url }}" target="_blank" class="fr small mid-gray">View on SoundCloud</a>
        </div>
      </article>
      <article plangular data-src="'https://soundcloud.com/illlillies/sets/greatest-hits-volume-one'" class="grid-1 bd">
        <div class="pad4 bd bg-center bg-cover white shadow-darken" style="background-image: url(images/house.jpg)">
          <h1 class="h4 caps reg dark-gray">{{ playlist.title }}</h1>
          <div class="media">
            <div class="img mr1">
              <a href="" ng-click="player.previous(playlist)" class="fl white"><i class="icon-previous p tappad"></i></a>
              <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="fl white"><i class="icon-play h3 tappad"></i></a>
              <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="fl white"><i class="icon-pause h3 tappad"></i></a>
              <a href="" ng-click="player.next(playlist)" class="fl white"><i class="icon-skip p tappad"></i></a>
            </div>
            <div class="bd">
              <progress value="{{ currentTime / duration}}" ng-click="seekTo($event)" class="mt1 progress progress-white w100">{{ currentTime / duration}}</progress>
              <small class="fl">{{ currentTime | playTime }}</small>
              <small class="fr">{{ duration | playTime }}</small>
            </div>
          </div>
        </div>
        <div class="pad1 bd bg1">
          <ol class="white">
            <li ng-repeat="track in playlist.tracks" class="ml2 song-title"><a href="" ng-click="player.play(playlist.tracks, $index)" class="db" ng-class="{ 'white': (player.playing || player.paused) != track, 'dark-gray': (player.playing || player.paused) == track }">
               {{ track.title }}
            </a></li>
          </ol>
          <a ng-href="{{ playlist.permalink_url }}" target="_blank" class="fr small mid-gray">View on SoundCloud</a>
        </div>
      </article>


    </div>

  </section>


</main>
<section class="pad2">
<h1 class="h3 mb2 thin caps">Lyrics</h1>
<blockquote class="mb2">
  <p class="caps h3">
    I picked you up because you were sad.
  </p>
</blockquote>
<blockquote>
  <p class="caps h3">
  While your weekends are spent drunk and overspent with a mess of a crew wanting them to like you.
</p>

</blockquote>

</section>
<section class="pad2">
  <h1 class="h3 mb2 thin caps">The Band</h1>
  <div class="dib mr1 mb2">
  <h1 class="h5 bold caps">Brian Riley</h1>
  <h2 class="h5 thin">Vocals, Guitar, Piano</h2>
</div>
<div class="dib mr1 mb2">
  <h1 class="h5 bold caps">Marty Copolla</h1>
  <h2 class="h5 thin">Vocals, Guitar, Drums</h2>
</div>
<div class="dib mr1 mb2">
  <h1 class="h5 bold caps">Adam Morse</h1>
  <h2 class="h5 thin">Guitar</h2>
</div>
</section>
<footer class="small media media-fold pad4">
  <p class="center">Copyright 2013 Ill Lillies.
  Built with love by <a href="http://mrmrs.cc" title="MRMRS - Designer / Developer"> mrmrs</a> using <a href="http://jxnblk.github.io/Plangular/" title="Plangular">Plangular</a></p>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5101585-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

<!--call on me I picked you up because you were sad.-->
